<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Nuevo León</h2>
        <p class="pEstados">92 contribuciones</p>
        <p><a class="btn btn-default" href="#" role="button">Participar &raquo;</a></p>
      </div>
      <div class="col-md-9">
        <div class="col-md-2 can1">
          <a href="#" class="thumbnail">
            <%= image_tag("c1.jpg", alt:"...") %>
            <div class="caption">
              <p>Ivonne Álvarez +21</p>
            </div>
          </a>
        </div>
        <div class="col-md-2 can2">
          <a href="#" class="thumbnail">
            <%= image_tag("c2.jpg", alt:"...") %>
            <div class="caption">
              <p>Felipe Cantú <small>-13</small></p>
            </div>
          </a>
        </div>
        <div class="col-md-2 can3">
          <a href="#" class="thumbnail">
            <%= image_tag("c3.jpg", alt:"...") %>
            <div class="caption">
              <p>Jaime Rodriguez <small class="danger">-33</small></p>
            </div>
          </a>
        </div>
     </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Nuevo León</h2>
      <p class="pEstados">92 contribuciones</p>
      <p><a class="btn btn-default" href="#" role="button">Participar &raquo;</a></p>
    </div>
    <div class="col-md-9">
      <div class="col-md-2 can1">
        <a href="#" class="thumbnail">
          <%= image_tag("c1.jpg", alt:"...") %>
          <div class="caption">
            <p class="pEstados">Ivonne Álvarez <small>+21</small></p>
          </div>
        </a>
      </div>
      <div class="col-md-2 can2">
        <a href="#" class="thumbnail">
          <%= image_tag("c2.jpg", alt:"...") %>
          <div class="caption">
            <p class="pEstados">Felipe Cantú <small>-13</small></p>
          </div>
        </a>
      </div>
      <div class="col-md-2 can3">
        <a href="#" class="thumbnail">
          <%= image_tag("c3.jpg", alt:"...") %>
          <div class="caption">
            <p class="pEstados">Jaime Rodriguez <small class="danger">-33</small></p>
          </div>
        </a>
      </div>
   </div>
  </div>
</div>
